.container{
   justify-items: center;
}
.row{
    border: 100px;
    color: black;
}

p{
    text-align: justify;
}

img{
    width: 350px;
    height: auto;
    /* position: relative;
    margin-left: 100px; */
}

.about-wrapper{
    /* background-image: url('../img/bg.jpg');
    background-size: cover;
    width: 100%; */
}

/* @media  screen and (min-width: 280px){
    img {
        width: 200px;
        height: auto;
        
    }
    
}

@media screen and (max-width: 1505px) {
    img {
        width: 400px;
        margin: 20px;
    }
    
} */


.work-paragraph{
    margin-top: 90px;
    color: #666666;
}

.inner-content{
    
}

