.container{
   justify-items: center;
}
.row{
    border: 100px;
    color: black;
}

p{
    text-align: justify;
}

img{
    width: 350px;
    height: auto;
    position: relative;
    margin-left: 100px;
}

@media (min-width: 280px){
    img {
        width: 250px;
        height: auto;
        margin-left: 0;
    }
    
}

@media (max-width: 1505px) {
    img {
        width: 400px;
        margin: 20px;
    }
    
}


.work-paragraph{
    margin-top: 90px;
    color: #666666;
}

