footer{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    
}

a.nav-link{
    color: black;
 
 
}

.icon{
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

button{
    border: 1px solid #C4C4C4;
}

@media (min-width: 300px) and (max-width: 600px){
    .footer{
        align-items: center;
        text-align: center;
        margin-top: -20px;
    }
    
}


