img.img-project{
    width: 400px;
    height: auto;

    
}

.project-picture{
    justify-content: center;
    text-align: center;
}

.proj-title{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: black
}

.proj-title:hover{
    color: gray;
}

.heading{

    padding: 20px;
    font-family: 'Poppins',sans-serif;
}

.title-description{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.label-title{
    font-weight: bold;
    color: #515254;
}

.description-wrapper{
    background-image: url('../img/plant3.jpg');
    background-size: cover;
}

.content{

    align-items: center;
    justify-content: center;
    background-color: #EEF0F2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.launch-button{
    
    position: absolute;
    top: 40%;
    bottom: auto;
    font-size: 14px;
    font-family: 'Poppins';
}

.launch-button:hover{
    background-color: #515254;
    color: white;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #515254;
}



/* CSS */
.close-btn {
  position: relative;
  overflow: hidden;
  border: 1px solid #444445;
  color: #18181a;
  display: inline-block;
  font-size: 14px;
  line-height: 12px;
  padding: 12px 12px 15px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.close-btn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.close-btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(131, 130, 130);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.close-btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.close-btn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

