@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-weight: bold;
}


a.nav-heading{
    font-weight: 500;
    color: #ccc0ac;  
}

a{
    color: #ccc0ac;
}

.nav-heading{
    color: #ccc0ac;
}


.navbrand{
    color: #ccc0ac;
}
.navbar{
    background: linear-gradient(#f7f6f5);
    background-color: #eeeded;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(151, 150, 150, 0.45) 0px 25px 20px -20px;
}


