img.icons{
    width: 50px;
    height: auto;
    
    
}

.skills-icon:hover{
    background-color: white;
}

.skills-icon{
    background-color: #EEF0F2;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 2px 1px #DADDD8;
}

h6.skills-title{
    text-decoration: underline;
}

.skills-wrapper{
    padding-bottom: 50px;
    
}

/* min-width is if the screen is larger than 
max-width is if the screen is smaller than */
